body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Yeseva One", system-ui;
    font-style: normal;
    scroll-behavior:auto;
    background-color: #F5F0E8;  
  }
  

.header {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    border-radius: 5px;
    gap: 100px;
    position:sticky;
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/coffee_files/cups.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
} 


.heading {
    display: flex;
    width: 300px;
    height: 100px;
    color: yellow;
    justify-content: center;
    align-items: center;  
    margin-top: 50px;
}



/*this is for the navigation*/
.nav {
    display: flex;
    justify-content: flex-end;
    align-items: top;
    position: top;
    z-index: 1000;
    margin-top: 50px;
    height: 50px;
    float: inline-end;
   
   
}

li, ul {
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: larger;
    color: whitesmoke;
    height: 30px;
}

/*the links on the navigation*/
a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 50px;
 
}

li:hover {
    color: rgb(233, 222, 12);
    border-bottom: 3px solid rgb(233, 222, 12);
}

.top{
    display: flex;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

/* div {
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    flex-direction: row;
} */

.welcome {
    display: flex;
    margin-top: 100px;
    width: 550px;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: orange;
    
}
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 500px;
    width: fit-content;
    border-right: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: #eeeff2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    

}

h2 {
    display: flex;
    width: 300px;
    height: 100px;
    justify-content: center;
    align-items: center;
    color: orange;
    font-style: italic;
    font-weight: bolder;
    font-size: 50px;
}


.story{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 400px;
    align-items: center;
    font-size: 20px;
    font-weight: 100px;
    
    
}

.choice {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 400px;
    align-items: start;
    font-size: 20px;
    font-weight: 100px;
}

.reason {
    display: flex;
    justify-content: end;
    align-items: center;
    background-image: url(images/coffee_files/coffee\ types.jpeg);
    background-repeat: no-repeat;
    height: 800px;
    border-radius: 10px;
    overflow: hidden;
}

.why {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
     width: 50%;
     height: 500px;
     font-size: 20px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     border-top-left-radius: 200px;
     border-bottom-left-radius: 200px;
    
}



.course {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 300px;
    width: 80%;
    background-color: #A28F70;
  
}

#more{
border: 1px solid;
width: 30%;
text-indent: 2px;

}

#more:hover {
    border-bottom: 1px solid black;
}

.school{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sample {
    display: flex;
    width: 100%;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid;
}

.learn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.more{
    display: flex;
    font-style: oblique;
}
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
}
.image-grid {
    display: flex;
    flex-direction: column;
    height: 50rem;
    width: 80%;
    justify-content: space-around;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.column {
 height: 300px;
 width: 80%;
 border: 1px solid;
}

img {
    border-radius: 3px;
    margin-top: 10px;
    overflow: hidden;
}

.staff {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 50px 0 50px 0;
   

}

.members{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 10px 0px 10px;
    align-items: top;
    height: 500px;
}

.teacher {
    display: flex;
    align-items: center;
    justify-content: center;
}

.owner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    width: 290px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 450px;
    background-color: #9e808025;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-direction: row;
    height: 400px;
    width: 100%;
    background-color: #D3BD9A;
    
}

i {
    display: flex;
   font-size: 20px;
}

i:hover {
border-bottom: 1px solid;
color: orange;
}

h5 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-style: oblique;
}

.links{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-left: 1px solid;
}

.logo{
    width: 50%;
    height: 60%;
    
}

