*body {
    box-sizing: border-box;
    font-family: "Roboto", system-ui;
  font-weight: 500;
  font-style: normal;
  scroll-behavior: smooth;
}

.header {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    gap: 100px;
    height: 500px;
} 

.heading {
    display: flex;
    width: 200px;
    height: 100px;
    
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: top;
    position: top;
    z-index: 1000;
    margin-top: 50px;
    height: 50px;
    float: inline-end;
}

li, ul {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

a {
    text-decoration: none;
    color: rgb(154, 120, 79);
}

a:hover {
    color: rgb(233, 222, 12);
    border-bottom: 1px solid black;
}


.about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    height: 300px;
    border: 1px solid;
}


p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    align-items: start;
}

.why {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
   
   border: 1px solid;

}

.course {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

